@charset "utf-8";
/* CSS Document */

.bg_gradient{
	background: linear-gradient(-90deg, #f74e8e, #fda47e);
}
.smrt_container{
	padding:20px;
}
.big_hd{
	color:#fff;
	font-size:30px;
	text-align:center;
	text-transform:uppercase;
}
.big_hd::after{
	content:"";
	width:50px;
	height:2px;
	background-color:#fff;
	display:block;
	margin:10px auto;
}
.logo {
	margin: 0 auto;
	display: table;
	width: 35%;
}
.logo_small {
	margin: 0 auto;
	display: table;
	width: 20%;
}
.logo img{
	max-width:100%;
	height:auto;
}
.logo_small img{
	max-width:100%;
	height:auto;
}
.mdl-textfield__input {
	border: none;
	border-bottom: 1px solid rgba(255,255,255,.4);
	display: block;
	font-size: 16px;
	font-family: "Helvetica","Arial",sans-serif;
	margin: 0;
	padding: 4px 0;
	width: 100%;
	background: 0 0;
	text-align: left;
	color: inherit;
	color:#fff;
}
.mdl-textfield__label {
	bottom: 0;
	color: rgba(255,255,255,1);
	font-size: 16px;
	left: 0;
	right: 0;
	pointer-events: none;
	position: absolute;
	display: block;
	top: 24px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
	color: #fff;
	font-size: 12px;
	top: 4px;
	visibility: visible;
}
.mdl-textfield__label::after {
	background-color:#fff;
	bottom: 15px;
	content: '';
	height: 2px;
	left: 45%;
	position: absolute;
	transition-duration: .2s;
	transition-timing-function: cubic-bezier(.4,0,.2,1);
	visibility: hidden;
	width: 10px;
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
	color: rgb(0,0,0);
	background-color: rgb(255,255,255,255);
	width: 100%;
	border-radius: 20px;
}
.mdl-button{
	display:table;
	margin:0 auto;
}
.btn_reg {
	background-color: rgba(0,0,0,0.3);
	border: none;
	color: #fff;
	padding: 10px 10px;
	text-transform: uppercase;
	display: block;
	width: 100%;
	border-radius: 30px;
}
.mdl-textfield--floating-label label{
	color:#fff;
}
.mdl-textfield--floating-label select {
	width: 100%;
	background-color: transparent;
	border: none;
	color: #fff;
	border-bottom: solid 1px #fff;
	padding: 5px 0px;
}
.btn_otp {
	border: none;
	position: absolute;
	right: 0;
	bottom: 24px;
	border-radius: 15px;
	font-size: 14px;
	padding: 2px 15px;
}